<div class="fadeIn" id="bio">
  <a ng-href="#!/home"><img id="myLogo" src="../images/SingleLogo2.png" alt="My Logo"></a>
  <nav class="indigo darken-4">
    <div class="nav">
      <ul id="nav-mobile" class="right">
        <li><a ng-href="#!/bio" id="bioLink">Bio</a></li>
        <li><a ng-href="#!/projects" id="projectsLink">Projects</a></li>
        <li><a ng-href="#!/tech" id="technologiesLink">Technologies</a></li>
        <li><a ng-href="#!/designs" id="designsLink">My Designs</a></li>
      </ul>
    </div>
  </nav>

  <article id="bioContent">
    <div>
    </div>
    <div class="row" class="listIcons">
      <div class="col-md-6">
        <p id="aboutMe">Hello! I am a software developer, designer and student.  I got my start in programming with HTML and CSS in high school and have loved it ever since.  I continued learning about code through high school and went on to start designing in college where I studied Web Design at Nashville State. I recently completed an rigorous six month apprenticeship program at Nashville Software School, and I'm very excited to continue both my career and my education.</p>
      </div>
      <div id="gridWrapper">
        <div class="flip-container">
          <div class="flipper">
            <div id="front" style="background-image: url(./images/2016_03_02_NSS_Cohort_11_0446_T-c_BW.jpg)">
              <!-- front content -->
            </div>
            <div id="back" style="background-image: url(./images/2016_03_02_NSS_Cohort_11_0434_T.jpg)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
