<div id="tech">
<article class="fadeIn">
    <a id="about" class="smooth"></a>
    <!-- <h1>Christina Young</h1>
    <h3>Technologies:</h3> -->
    <div class="row" class="listIcons">
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
        <img src="./images/airShow.gif" width="1000px" height="1000px">
      </div>
      <div class="col-md-2">
        <img src="./images/mongo_icon.jpg" width="100px" height="100px">
      </div>
      <div class="col-md-2">
        <img src="./images/sass_icon.png" width="100px" height="100px">
      </div>
      <div class="col-md-2">
        <img src="./images/logo_JavaScript.png" width="100px" height="100px">
      </div>
    </div>
    <div class="row" class="listIcons">
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
        <img src="./images/HTML5.png" width="100px" height="100px">
      </div>
      <div class="col-md-2">
        <img src="./images/git-logo.png" width="100px" height="100px">
      </div>
      <div class="col-md-2">
        <img src="./images/jquery-icon.png" width="100px" height="100px">
      </div>
      <div class="col-md-2">
        <img src="./images/sqlite.png" width="100px" height="100px">
      </div>
    </div>
    <div class="row" class="listIcons">
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
        <img src="./images/jade.png" width="100px" height="100px">
      </div>
      <div class="col-md-2">
        <img src="./images/nodejs.png" width="100px" height="100px">
      </div>
      <div class="col-md-2">
        <img src="./images/bootstrap_logo.png" width="100px" height="100px">
      </div>
      <div class="col-md-2">
        <img src="./images/expressjs.png" width="100px" height="100px">
      </div>
    </div>
  </article>
</div>
