<div class="fadeIn" id="home">
  <div>
    <!-- div class="col-md-12">
      <a id="bioButton" ng-href="#!/bio" class="btn-floating btn-xlarge waves-effect waves-light indigo darken-4">Bio</a>
    </div>

    <a id="designsButton" ng-href="#!/designs" class="btn-floating btn-xlarge waves-effect waves-light indigo darkn-4">Designs</a> -->

    <img id="mainLogo" src="../images/SingleLogo2.png" alt="My Logo">

    <!-- <a id="projectsButton" ng-href="#!/projects" class="btn-floating btn-xlarge waves-effect waves-light indigo darken-4">Projects</a>

    <div class="col-md-12">
      <a id="techButton" ng-href="#!/tech" class="btn-floating btn-xlarge waves-effect waves-light indigo darken-4">Technologies</a>
    </div> -->
  </div>
</div>
