<nav class="indigo darken-4">
  <div class="nav">
    <!-- <a href="#" class="brand-logo"><img id="myLogo" src="../images/SingleLogo2.png" alt="Logo Web Design"></a> -->
   <ul id="nav-mobile" class="right">
      <li class="current"><a ng-href="#!/main" id="homeLink">Home</a></li>
      <li><a ng-href="#!/bio" id="bioLink">Bio</a></li>
      <li><a ng-href="#!/projects" id="projectsLink">Projects</a></li>
      <li><a ng-href="#!/logoDesigns" id="logoDesignsLink">Logo Designs</a></li>
      <li><a ng-href="#!/tech" id="technologiesLink">Technologies</a></li>
      <li><a ng-href="#!/designs" id="designsLink">My Designs</a></li>
    </ul>
  </div>
</nav>
