<div class="fadeIn" id="projects">
  <a ng-href="#!/home"><img id="myLogo" src="../images/SingleLogo2.png" alt="My Logo"></a>
  <article>
    <div class='row'>
      <div class="col-md-6">
        <a href="https://github.com/ChristinaJYoung/MakeUpYourMind" target="_blank"><img id='frontEndProject' src="./images/front-end.png" alt="Make Up Your Mind Capstone"/></a>
      </div>
      <div class="cold-md-6">
        <a href="https://github.com/ChristinaJYoung/movieHistory"><img id='movieHistoryProject' src="./images/movieHistory.png" alt="Movie History Group Project" /></a>
      </div>
    </div>
  </article>
</div>
